AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID_HERE
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY_HERE
AWS_REGION=YOUR_AWS_REGION_HERE
AWS_DEFAULT_OUTPUT=YOUR_AWS_DEFAULT_OUTPUT_HERE
OPENAI_API_BASE_URL=YOUR_OPENAI_API_BASE_URL_HERE
OPENAI_API_KEY=YOUR_OPENAI_API_KEY_HERE
PERPLEXITY_API_KEY=YOUR_PERPLEXITY_API_KEY_HERE
